body {
    padding: 0;
    margin: 0;
    height: 100vw;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #626262, #758586);
    color: #e4f2ff;
}

header {
     background: linear-gradient(to right, #3a3a3a, #707070);;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e4f2ff;
    letter-spacing: 8px;

}

main {
    display: grid;
    justify-items: center;
}

#introducao {
    text-align: justify;
    width: 50%;
    padding: 10px 5px;
}

#desenvolvimento {
    width: 50%;
    text-align: justify;
}

.objetivos {
    padding: 4px 12px;
    margin: 5px;
    border: none;
    /* Cor do contorno do botão */
    border-radius: 5px;
    background-color: #8e8e8e;
    /* Cor de fundo do botão */
    color: #e4f2ff;
    /* Cor do texto do botão */
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

footer {
    text-align: center;
}