span {
    color: rgb(0, 0, 0);
}

.Contagem{
    background-color: bisque;
    padding: 20px 0;
    text-align: center;
}

h2{
    text-align: center;
}

.Objetivos{
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 19px;
}

.ativo{
    background-color: rgb(141, 38, 209);
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}